#game-board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  gap: 2px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  box-sizing: border-box;
}

.snake {
  background-color: green;
}

.food {
  background-color: red;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(202, 230, 102);
}

.controls {
  flex-grow: 1;
}

.content{
display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}

.zmeika{
  display: flex;
  flex-direction: row;
}
.joystick {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}
.horizontal-buttons {
  display: flex; 
  justify-content: center; 
}

.joystick button {
  width: 35px; 
  height: 35px; 
  font-size: 20px;
  background-color: #4CAF50; 
  color: white;
  border-radius: 5px;
  margin: 3px;
}

.joystick button:hover {
  background-color: #45a049;
}